.xp-wrapper{
    display: inline-block;
    text-align: center;
    color: white;
}
    
.xp-count{
    line-height: 18px;
    text-align: center;
    font-size: 50px !important;
    font-family: laca, sans-serif !important;
    color: white;
}

.xp-text{
    font-size: 12px !important;
    font-family: laca, sans-serif !important;
}