.container{
    display: flex !important;
    justify-content: space-evenly;
    align-items: center;
    height: 5.5rem;
}

.wrapper {
    max-width: 950px;
    margin: 0 auto;
}

.header {
    padding-top: 100px;
}

